<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../www/css/responsive.css">
    <link rel="stylesheet" href="../www/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../www/css/style1.css">
    <link rel="shortcut icon" href="../www/images/favicon.png" />
    <link rel="stylesheet" href="../www/css/s1.css">
    <link rel="shortcut icon" href="../www/css/dataTable.css" />
    <link rel="stylesheet" href="../www/css/fontawesome.min.css">
    <link rel="stylesheet" href="../www/css/jquery.dataTables.min.css">
    <style>
        /* Style The Dropdown Button */
        table, th, td {
            border: 1px solid;
            }
        
        </style>
    <title>comparativeTable</title>
</head>
<body>

<!-- body -->
<br/>
<br/>
<br/>


        <div class="container">
            <!-- <div class="container"> -->
          
            <!-- body -->
            <div class="table-responsive pt-3">
                <table class="table ">
                    <tbody>
                        
                        <!-- head -->
                        <tr>
                            <td rowspan="2" colspan="5">
                            <div class="row">
                                <div class="col-md-6">
                                <img src="../Upload/logo.jpeg"/ style="width:200px">
                                </div>
                                <div class="col-md-6">
                                <h5 style="color: #02679a;">Comparative Table</h5>
                                <div>
                            </div>
                            </td>                      
                                                
                        </tr>
                        <tr>                    
                        
                        </tr>
                        <!--End head -->
                        <tr>
                            <td colspan="3">
                            <div class="row">
                                <div class="col-3"><span style="color: #02679a;">Request Id:  </span></div>
                                <div class="col-9"><p class="reqid"></p></div>
                            </div>                                      
                            </td>
                            <td colspan="2">
                            <div class="row">
                                <div class="col-3"><span style="color: #02679a;"> Request Name:  </span></div>
                                <div class="col-9"><p class="for"></p></div>
                            </div>  
                            </td>
                        </tr>
                            
                    </tbody>
                </table>
            </div>
            <br>
            <div class="table-responsive pt-3">
                <table class="table">
                    <tr>
                        <th class="text-center"  ><span style="color: #02679a;"> Items Details</span></th>              
                    </tr>
                    <tr>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Item Name</th>
                                    <th>Desc</th>
                                    <th>Qty</th>
                                    <th>UM</th>
                                </tr>
                                <tbody class="itbod">
                               
  
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="table-responsive pt-3">
                
              <table class="table">
                <tr>
                    <th class="text-center"  ><span style="color: #02679a;">Vendors Involve</span></th>                
                </tr>
                <tr>
                    <td>
                        <table class="table">
                          <thead class="hed">
                         
                          </thead>
                          <tbody class="bod">
                           
                          </tbody>
                        </table>
                    </td>          
                </tr>
              </table>
            </div>
            <br>
            <div class="table-responsive pt-3">
                
                <table class="table">
                    <tr>
                        <th class="text-center"  ><span style="color: #02679a;">Cheapest Option</span></th>               
                    </tr>
                    <tr>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th>Vendor</th>
                                </tr>
                                <tbody class="chipbody">
                            
                                </tbody>
                                
                            </table>
                        </td>          
                    </tr>
                </table>
            </div>

            
        </div>  
<!-- body -->
<br/>
<br/>
<br/>
<br/>

    <script>
        
    let par = new URLSearchParams(window.location.search)
    if (par.has("reqno")) {
        let reqno = document.querySelector(".reqid"); 
        let subj = document.querySelector(".for"); 
        let hed = document.querySelector(".hed"); 
      let bod = document.querySelector(".bod"); 
      let chipbody = document.querySelector(".chipbody"); 
    let tbodyy = document.querySelector(".itbod");

     
        
        let mydata = JSON.stringify({"pRegNo":par.get("reqno")})
        fetch("../Utils/getAllVendorQuoteUtills.php", {
        method: 'POST',
        body: mydata,
        headers: {"Content-Type": "application/json; charset=utf-8"}
        }).then(res=>res.json()).then(function(data) {

          reqno.innerText = data[0].preqno
          subj.innerText = data[0].subject



         
          let vvdata = []
          data[1].forEach(vv => {
            vvdata.push(
              {
                pregNo:vv.pregno,
                venid:vv.vendorid,
                for:vv.for,
                venname:vv.vname,
                form:vv.from,
                date:vv.date,
                itemPrice:[]
              }
            )
          });

          for(let v = 0; v < vvdata.length; v++){
            for (let i = 0; i < data[2].length; i++) {
              if (data[2][i].vendorId == vvdata[v].venid) {
                vvdata[v].itemPrice.push(data[2][i])
              }
              
            }
          }

//////////////
        data[3].forEach((element,ind) => {
            let list1 = document.createElement("tr");
            list1.innerHTML = `       
                <td>${element.itemname}</td>
                <td>${element.description}</td>
                <td>${element.qty}</td>   
                <td>${element.um}</td>                                                              
                `;
                tbodyy.appendChild(list1);
            
        }) 
        let arr = []
        let count = 0
        let trr = document.createElement("tr");
        vvdata.forEach(element1 => {
          let thr = document.createElement("th");
          thr.innerText =element1.venname 
          trr.appendChild(thr);              
          count++
          arr.push(arr.length + 1) 
        });
        hed.appendChild(trr);

////////////


///LOOPING ROWS AND COLUMNS FOR EACH VENDOR UNIT PRICE ALSO CALCULATE THE LOWEST PRICE FOR EACH ITEM FROM EACH VENDOR
        let lpoArr = []        

          for (let b = 0; b < arr.length; b++) {
              let incr = 0
              let rowar = []
            while (incr < vvdata.length) {//loop for each obj //each item to get each row
              // console.log("eachlog",vvdata[incr])
              let main1 = vvdata[incr].itemPrice
              for (let i = 0; i < main1.length; i++) {//loop for items in each obj
                if (parseInt(main1[i].itemNumber) == arr[b]) {//check for rach row
                  rowar.push(main1[i])
                }           
              }
              
              incr++
            }
            let higherPrice = 1000000000000000000
            let higherItem = []
            let trr1 = document.createElement("tr");
            rowar.forEach(element1 => {           
              let td = document.createElement("td");
              td.innerText =  Number(element1.vendorUnitPrice) != 0? "#"+Number(element1.vendorUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'):"N/A"
              trr1.appendChild(td);              
              if (parseFloat(element1.vendorUnitPrice) < higherPrice && parseFloat(element1.vendorUnitPrice) != 0) {
                higherPrice = parseInt(element1.vendorUnitPrice)
                if (higherItem.length > 0) {
                  higherItem = []
                  higherItem.push(element1)
                 
                }else{
                  higherItem.push(element1)
                 
                }
              }
            // count++
            });
            bod.appendChild(trr1);
           
            higherItem.forEach((element4,ind) => {
            let list1 = document.createElement("tr");
            list1.innerHTML = `       
                <td>${"#"+Number(element4.vendorUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                <td>${"#"+(Number(element4.vendorUnitPrice)*Number(element4.itemQuantity)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</td>
                <td>${element4.venname}</td>   
                `;
                chipbody.appendChild(list1);
                lpoArr.push(element4)
                                                                                 
            })          
            rowar = []//empty the row array
            incr = 0 //initialize new incr for each vendor
           
            
          }
// ROW AND COLUMN LOOPING ENDS HEAR
        window.print()
        }).catch(err=>{
          if (err) {
            alert("Error:"+err)
            console.log("error",err)
         
          }
        })
    }
    
    </script>
</body>
</html>