.sidesecond{
    width: 100%;
    height: auto;
    background-color: white;
   
}
.list{
    list-style-type: none;
    list-style: none;
}

.hh{
    display:flex;
    justify-content: center;
    align-items: center;

}

